{% do assets.addCss('theme://scss/theme/_footer.scss') %}

<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <div class="columns">
            <div class="column col-5 col-md-12">
                <p><a class="footer-anchor" href="https://grav.dev.ff-inheiden.de/kontakt/">Kontakt</a> | <a class="footer-anchor" href="https://grav.dev.ff-inheiden.de/impressum/">Impressum & Datenschutz</a></p>
            </div>
            <div id="copyright-txt" class="column col-7 col-md-12">
                <p>Copyright © 2024 | gemeinsames Projekt der Feuerwehr Inheiden. All rights reserved</p>
            </div>
        </div>
    </section>
</section>
