<span class="blog-date">
    <time class="dt-published" datetime="{{ page.date|date('c') }}">
        <i class="fa-regular fa-calendar"></i> {{ page.date|date('d') }}. {{ 'GRAV.MONTHS_OF_THE_YEAR'|ta(page.date|date('n') - 1)}} {{page.date|date('Y') }}
    </time>
</span>
