# Sass
.sass-cache

# Grav Specific
data/*
!data/.*
!plugins/.*
!themes/.*
!themes/feuerwehr-hungen/
accounts/*
#!accounts/.*
!pages/.*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# phpstorm
.idea/*
/themes/feuerwehr-hungen/node_modules/
/themes/feuerwehr-hungen/scss/.sass-cache
