# Sass
.sass-cache

# Grav Specific
accounts/*
/data/notifications/.*
data/flex/indexes/accounts.yaml
data/flex/indexes/pages.json
data/scheduler/status.yaml


# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# phpstorm
.idea/*
/themes/feuerwehr-hungen/node_modules/
/themes/feuerwehr-hungen/scss/.sass-cache

