@import "../fw-main.scss";

// Sticky Footer solution
body.sticky-footer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  #page-wrapper {
    flex: 1 0 auto;
  }
}

#footer {
  background-color: $fw-blue;
  padding: 1rem $horiz-padding 0;
  text-align: center;
}

#copyright-txt {
  color: white;
}

 a.footer-anchor:link, a.footer-anchor:visited {
  color: white;
  text-decoration: none;
}

a.footer-anchor:hover, a.footer-anchor:active {
  color: $fw-yellow !important;
  text-decoration: none;
}