@import "../css-compiled/glightbox.css";
@import "../css-compiled/flickity.css";
@import "fw-main";

.pair {
  background: #f8f8f8;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}

.inline-inner {
  padding: 40px;
}

.inline-close-btn {
  background: #FFC107;
  width: 200px;
  display: block;
  margin: auto;
  height: 53px;
  text-align: center;
  line-height: 53px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #eee;
}

.inline-close-btn:hover {
  border-color: #000;
}

// glightbox modal
// overrides glightbox defaults

.description-right {
  max-width: 320px !important;
}

.description-right .gdesc-inner {
  //padding-top: 1em !important;
  padding: 10px 1em !important;
}

.glightbox-open .description-right {
  background: $fw-blue !important;
}

.glightbox-open {
  height: auto;
}

.gslide-image {
  display: inline-flex !important;
}

.glightbox-open .gslide-media img{
  width: 95% !important;
  margin-right: 0;
}

.glightbox-clean .gslide-title {
  color: whitesmoke !important;
}

.descText {
  color: whitesmoke;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.glightbox-mobile .descText {
  color: whitesmoke !important;
}


.gslide-title {
  font-size: 1.75em !important;
  margin-top: 0 !important;
}

.glightbox-mobile .glightbox-container .ginner-container {
  //background: $fw-blue !important;
}

.glightbox-mobile .glightbox-container .gslide-media {
  position: absolute;
  top: 5vh !important;
  padding-top: 20px;
}

.glightbox-mobile .glightbox-container .gslide-media img {
  width: 100% !important;
  margin: 0 0 0;
}

.glightbox-mobile .glightbox-container .gslide-description {
  top: 37vh !important;
  position: absolute;
  padding-top: 10px !important;
}




// flickity

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: rgba(238, 238, 238, 0.87);
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
  text-align: center;
  color: white;
}

.top-left {
  font-size: 1.5em;
  position: absolute;
  top: 8px;
  left: 16px;
}

.mobileView .carousel-cell img {
  max-width: 100%;
  height: auto;
}


.magnify {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.carousel-cell img {
  display: block;
  height: 250px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}