@import "../css-compiled/glightbox.css";
@import "fw-main";

.pair {
  background: #ffffff;
}

.glight-section {
  padding: 2rem 1rem;
}

.gslide-desc {
  color: white;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}

.box-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 1.4em;
  width: 100%;
}

.box {
  list-style-type: none;
  float: left;
  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition: opacity 0.2s, transform 0.35s;
}

.box.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.4s, transform 0.35s;
}

.box .inner {
  padding: 10px;
  position: relative;
}

.box a {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.box img {
  width: calc(200%);
  max-width: calc(100% + 150px);
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-40px, 0, 0);
}

.box a::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.4s;
}


.inline-inner {
  padding: 40px;
}

.inline-close-btn {
  background: #FFC107;
  width: 200px;
  display: block;
  margin: auto;
  height: 53px;
  text-align: center;
  line-height: 53px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #eee;
}

.inline-close-btn:hover {
  border-color: #000;
}

@media (min-width: 576px) {
  .intro h1 {
    font-size: 4.3em;
  }

  .intro {
    max-height: 70vh;
    min-height: 640px;
    padding-top: 0px;
  }

  .intro h1,
  .tagline {
    text-align: left;
  }

  .tagline {
    font-size: 100%;
  }

}


@media (min-width: 992px) {
  .box:hover img {
    transform: translate3d(0, 0, 0);
    transition: opacity 0.35s, transform 0.35s;
  }

  .box:hover a::before {
    opacity: 0.3;
    transition: opacity 0.5s;
  }
}

// glightbox modal
// overrides glightbox defaults

.description-right {
  max-width: 335px !important;
}

.description-right .gdesc-inner {
  //padding-top: 1em !important;
  padding: 10px 1em !important;
}

.glightbox-open .description-right {
  background: $fw-blue !important;
}

.glightbox-open {
  height: auto;
}

.gslide-image {
  display: inline-flex !important;
}

.glightbox-open .gslide-media {
  width: 65%;
}

.glightbox-open.glightbox-mobile .gslide-media {
  width: 100%;
}

.glightbox-open .gslide-media img{
  margin-right: 0;
}

.glightbox-clean .gslide-title {
  color: whitesmoke !important;
}

.descText {
  color: whitesmoke;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.glightbox-mobile .descText {
  color: whitesmoke !important;
}


.gslide-title {
  font-size: 2em !important;
  margin-top: 0 !important;
}

.glightbox-mobile .glightbox-container .ginner-container {
  //background: $fw-blue !important;
}

.glightbox-mobile .glightbox-container .gslide-media {
  position: absolute;
  top: 5vh !important;
  padding-top: 20px;
}

.glightbox-mobile .glightbox-container .gslide-media img {
  width: 100% !important;
  margin: 0 0 0;
}

.glightbox-mobile .glightbox-container .gslide-description {
  top: 37vh !important;
  position: absolute;
  padding-top: 10px !important;
}
.glightbox-mobile .glightbox-container .gcontainer .gslide-description .gslide-desc{
  color: whitesmoke;
  font-size: 1.25em;
}