//import main css
@import "fw/fw-colors.scss";


.fw-location {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -8px;
}

.scrolled .fw-location {
  font-size: 9px;
  color: $fw-blue;

}

#fw-logo-txt {
  font-size: 23px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.fw-location-item {
  color: $fw-blue;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -8px;
}

.scrolled .fw-location-item {
  font-size: 9px;
  color: $fw-blue;
}

#fw-logo-txt-item {
  color: $fw-blue;
  font-size: 23px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.scrolled #fw-logo-txt {
  font-size: 18px;
  color: $fw-blue;
}

.scrolled #fw-logo-txt-item {
  font-size: 18px;
  color: $fw-blue;
}

.navbar-brand {
  padding-top: 10px;
}

#fw-logo-img {
  padding-top: 10px !important;
}

.logo-txt-col .columns {
  margin-top: 0 !important;
  padding-top: 0 !important;
}