// FW colors
$fw-blue: #063480;
$fw-background: #ecf4ff;
$fw-red: #a72920;
$fw-yellow: #E6B01D;
$fw-text-underline: #6D6E6F;
$fw-orange: #e24c31;

#body-wrapper {
  background: $fw-background;
}


.modal-container {
  background-color: $fw-blue;
}

.modal-lg::backdrop {
  opacity: 0.6 !important;
}

.modal-header {
  color: white !important;
}

.content h4 {
  color: white !important;
}

.modal-image {
  width: auto;
  height: auto;
}