// FW colors
$fw-blue: #063480;
$fw-background: #ecf4ff;
$fw-red: #a72920;
$fw-yellow: #E6B01D;
$fw-text-underline: #6D6E6F;
$fw-orange: #e24c31;
$fw-light-yellow: #ffff00;

#body-wrapper {
  background: $fw-background;
}

.content h5 {
  color: white !important;
  margin-top: 2% !important;
}

.modal-image {
  width: auto;
  height: auto;
}

.jqmodal, .jqmodal h3, .jqmodal h2, .jqmodal h5{
  background-color: $fw-blue !important;
  color: white !important;
}

.jqmodal h2 {
  margin-top: 1%;
}