// FW colors
$fw-blue: #063480;
$fw-background: #ecf4ff;
$fw-red: #a72920;
$fw-yellow: #E6B01D;
$fw-text-underline: #6D6E6F;
$fw-orange: #e24c31;
$fw-light-yellow: #ffff00;

#body-wrapper {
  background: $fw-background;
}

.content h5 {
  color: white !important;
  margin-top: 2% !important;
}

.accordion-body {
  overflow: hidden !important; /* Initially hidden */
  max-height: 0 !important;    /* Initially hidden */
  transition: max-height 0.2s ease-out !important; /* Smooth transition */
}

.accordion-body.open {
  max-height: 2000px !important; /* Arbitrary large value */
}

.accordion-header i {
  transition: transform 0.2s ease-in-out;
}
.accordion-header i.rotate {
  transform: rotate(90deg);
}

form .form-column {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em; // trick to space items (see https://stackoverflow.com/a/42875628)
  > div {
    flex-basis: 10%; // far smaller than we need
    flex-grow: 1; // flex-grow fills up the space
    min-width: 18em; // just here to demonstrate responsive on mobile, can remove
    margin: 0 1em; // other part of the trick to space items
  }
}
.form-label span.required {
  line-height: 0;
}


// Winter theme ##################

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);

  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}