//import main css
@import "fw-main";


.fw-card-header {
  background: $fw-blue !important;
  color: white;
}

.card-title {
  margin-top: -10px;
  margin-bottom: 5px;
}

.side-card {

}

.side-card-body {
  margin-top: -35px !important;
  margin-bottom: -40px !important;

}


.Ausbildung i {
  color: $fw-yellow;
}

.Einsatzabteilung i {
  color: $fw-red;
}

.Jugendfeuerwehr i {
  color: $fw-orange;
}

.Feuerwehrverein i {
  color: $fw-blue;
}

.Förderverein i {
  color: green;
}