
.columns {
  width: 100%;
}

$fw-blue: #063480;

//Header
#fw-logo-txt {
  color: $fw-blue !important;

  .fw-location {
    color: $fw-blue;
  }
}

.mobile-menu {
  #toggle {
    span {
      background: $fw-blue;
    }
  }
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

.text-container {
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
}

.cart-h4 {
  margin-top: 0;
  padding: 0;
}

.body {
  width: 100%;
  display: flex;
  padding-top: 2rem;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 302px;
}













/** Category Button */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin: 5px 5px 15px;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button-18 .active {
  background: $fw-blue;
  color: rgb(255, 255, 255, .7);
}

.product-card {
  border-radius: 1rem;
  border: 1px solid gray;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 560px;
  text-align: center;
  box-shadow: 5px 5px lightblue;
  background: white;

  strong {
    padding-bottom: 0.3rem;
    font-size: large;
  }

  select {
    height: 2rem;
  }

  .kids-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }


  img {
    max-height: 55%;
    width: auto;
    display: block;
    margin-bottom: 0.4rem;
    object-fit: cover;
    object-position: top center;
    flex-shrink: 0;
  }

  .product-name {
    margin-bottom: 0.24rem;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    word-break: break-word;
    font-weight: bold;
    color: #063480;
  }
}

.shop-container{
  padding: 0 1rem 0 2rem;
}

.heading{
  text-align: center;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

button {
  background-color: #ffd84d;
  color: rgb(60, 60, 60);
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  margin: 0.6rem;
  transition: 0.1s ease-in-out;
  font-weight: 600;
  font-size: 0.9rem;
}


.product-btn {
  background-color: #ffd84d;
  color: rgb(60, 60, 60);
  padding: 0;
  border: none;
  //border-radius: 0.6rem;
  cursor: pointer;
  margin: 0.7rem;
  transition: 0.1s ease-in-out;
  font-weight: 600;
  font-size: 0.9rem;
  perspective: 1000px; // Add perspective for 3D effect
  position: relative;
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 0.6rem;

  /* Button magic */

  a.addtocart {
    position: absolute;
    left: -5px;
    top: 0px;
    right: 0px;
    width: 160px;
    height: 50px;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 300ms;
    cursor: pointer;
    border-radius: inherit;
    text-decoration: none;

    > div {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      line-height: 50px;
      align-items: center;
      justify-content: center;

    }

    &:hover {
      background-color: #fbcc24;
    }

    > .add {
      background-color: #ffd84d;
      color: rgb(60, 60, 60);
      transform: rotateY(0deg) translateZ(25px);
      transition: background 150ms ease-out;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: #fbcc24;
      }
    }

    > .added {
      background: #f63;
      color: #fff;
      transform: rotateX(90deg) translateZ(25px);
      backface-visibility: hidden;
      width: 100%;
      height: 100%;
    }
  }

  .addtocart.active { // Apply rotation when "active" class is added
    animation-name: rotate;
    animation-duration: 1s;
  }

  &:hover {
    background-color: #fbcc24;
    transform: translateY(2px);
  }
}

@keyframes rotate { // Define the rotation animation
  35% {
    transform: translateZ(-100px) rotateX(-90deg);
  }
  72% {
    transform: translateZ(-100px) rotateX(-90deg);
  }
  100% {
    transform: translateZ(-100px);
  }
}

.result {
  display: flex;
  flex-wrap: wrap;
}

.cart {
  margin-top: 3rem;
  margin-right: 2rem;
  min-width: 40%;
  border-radius: 1rem;
  border: 1px solid gray;
  padding: 1rem;
  background: white;
  position: sticky;
  right: 1rem;
  top: 5.5rem;
  min-height: 500px;
  max-height: 690px;
  height: auto;
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 0;
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

hr {
  color: gray;
  margin: 0.5rem 0;
  flex-shrink: 0;
}

.cart-items {
  margin: 1rem 0;
  overflow-y: auto;
  max-height: 100%;
  flex-grow: 1;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid rgb(203, 203, 203);
  padding: 0rem 1rem;
  margin: 0.3rem 0;
  flex-shrink: 0;

  h5 {
    margin-top: .8rem;
  }

  p {
    margin: 0;
  }
}

.cart-item:last-child {
  margin-bottom: 0;
}


.cart-detail{
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.mid {
  display: flex;
  align-items: center;
}

.mid button {
  font-size: 2rem;
  font-weight: 600;
  padding: 0;
  background-color: white;
  color: gray;
  margin: 8px;
}

.mid p {
  padding: 0.3rem 0.5rem;
  background-color: rgb(203, 203, 203);
  border-radius: 0.3rem;
  margin: 0 0.5rem;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

.buy-btn {
  width: 100%;
  padding: 0.8rem 0;
  margin: 0;
  margin-top: 1.5rem;
  border-radius: 0.2rem;
  flex-shrink: 0;
}

.footer{
  text-align: center;
  padding: 3rem 0 1rem 0;
}

// Input styling

$size-bezel: .5rem;
$size-radius: 4px;

$color-signal: #dfa608;
$color-light: white;

$color-background: $color-light;
$color-accent: $color-signal;

.cart-input {

  font-size: calc(.6rem + .4vw);

  margin-top: 30px;
  font-family: 'Inter', sans-serif;

  .input {
    position: relative;

    &__label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc($size-bezel * 0.75) calc($size-bezel * .5);
      margin: calc($size-bezel * 0.75 + 3px) calc($size-bezel * .5);
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 -2.3rem;
      background: $color-background;
      transition: transform 120ms ease-in;
      font-weight: bold;
      line-height: 1.2;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 3px solid currentColor;
      padding: calc($size-bezel * 1.5) $size-bezel;
      color: currentColor;
      background: transparent;
      border-radius: $size-radius;

      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(.25rem, -70%) scale(.8);
          color: $color-accent;
          z-index: -10;
        }
      }
    }
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  opacity: 100;
}

.modal-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 20px;
  padding: 20px 20px 50px;
  margin: 10% auto;
  border: 1px solid #888;
  width: 40%;
  max-height: 510px;
  position: relative;

  .modal-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      flex-grow: 1;
    }

    .close-button {
      width: 30px;
      font-size: 2rem;
      color: #c0c5cb;
      align-self: flex-end;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-top: 0;
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }

  strong {
    font-size: 1.1rem;
  }

  h4 {
    margin-top: 1rem;
  }


}


#orderModal .success-icon {
  font-size: 3rem; /* Größe des Häkchens anpassen */
  color: green;     /* Farbe des Häkchens anpassen */
  text-align: center;
  margin-bottom: 1rem;
}

#orderModal #orderDetailsList {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 10px;
}

#orderModal #orderDetailsList::-webkit-scrollbar {
  width: 8px;
}

#orderModal #orderDetailsList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

#orderModal #orderDetailsList li {
  list-style: none; /* Aufzählungspunkte entfernen, falls gewünscht */
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5em;
}

#orderModal #orderDetailsList li:last-child {
  border-bottom: none; /* Kein Border beim letzten Listenelement */
}


@media screen and (min-width: 900px) {
  .mobile-cart-footer {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .product-card {
    width: 100%;
  }

  .result {
    display: flex;
    flex-wrap: wrap;
  }

  .cart {
    min-width: 50%;

  }
}

@media screen and (max-width: 850px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .shop-container {
    width: 100%;
    padding: 2rem;
  }

  .cart {
    //padding: 2rem;
    //margin: 0.5rem;
    position: fixed;
    bottom: 50px;
    top: auto;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: auto;
    max-height: 70vh;
    height: auto;
    padding: 1rem;
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid gray;
    transition: transform 0.3s ease-out;
    transform: translateY(115%);
    z-index: 1000;
    &.cart--open {
      transform: translateY(0);
      bottom: 68px;
    }
  }

  .cart-items {
    max-height: 100%;
  }

  .mobile-cart-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    padding: 0.5rem;
    text-align: center;
    border-top: 1px solid #ccc;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-cart-button {
    background-color: #ffd84d;
    color: rgb(60, 60, 60);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    //display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    transition: border-radius 0.3s ease-out, width 0.3s ease-out, padding 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    &.cart--open-button {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 0;
      justify-content: center;
      align-items: center;
      background-color: #063480;
      color: #fff;
    }

    .button-content-placeholder {
      pointer-events: none;
    }

  }

  .mobile-noOfItems {
    font-weight: normal;
  }

  .product-card {
    height: 460px;
  }

  .modal-content {
    width: 80%;
  }
}

