<head>
    <link rel="stylesheet" href="{{ url('theme://css-compiled/modular-nav.min.css') }}"/>
</head>

<section class="section modular-navbar modular-hero hero">
    <div class="modular-nav-container">
        <nav class="modular-nav">
            <ul class="nav--ul__one">
                <li class="nav-link"><a href="#">Feuerwehr Wiki</a></li>
                <li class="nav-link"><a href="#">Shop</a></li>
                <li class="nav-link"><a href="#">Bestellungen</a></li>
                <li class="nav-link"><a href="#">Anwesenheit</a></li>
                <li class="nav-link"><a href="#">Einsätze</a></li>
            </ul>
        </nav>
    </div>
</section>