<head>
    <link rel="stylesheet" href="{{ url('theme://css-compiled/modular-nav.min.css') }}"/>
</head>

<section class="section modular-navbar modular-hero hero">
    <div class="modular-nav-container">
        <nav class="modular-nav">
            <ul class="nav--ul__one">
                <li class="nav-link"><a href="https://wiki.ffinh.de/">Feuerwehr Wiki</a></li>
                {% for module in page.collection() %}
                    {% if module.header.menu %}
                        <li>
                            <a href="#{{ module.menu|hyphenize }}" data-target="{{ module.menu|hyphenize }}" class="tab-link">{{ module.menu }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>