<head>
    <link rel="stylesheet" href="{{ url('theme://css-compiled/order-overview.min.css') }}" />

    {% block javascripts %}
        {% do assets.addJsModule('theme://js/webshop-orders.js') %}
    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {% endblock %}
</head>

<div class="module-content" data-module-id="bestellung">
{% set grid_size = theme_var('grid-size') %}
<section class="section">
    <section class="container order-container">
        <h1>Bestellübersicht</h1>
        <div class="orders-columns">
            <div class="column col-md-12 col-8">
                <h2>Einzelne Bestellungen</h2>
                <div class="table-container">
                <table class="table order-table">
                    <thead>
                    <tr>
                        <th>Besteller</th>
                        <th>Summe</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Data will be inserted here -->
                    </tbody>
                </table>
                </div>
                <div class="button-container">
                    <button class="btn btn-primary download-button">Download Liste</button>
                </div>
            </div>
            <div class="column col-md-12 col-4">
                <h2>Gesamt Bestellung</h2>
                <div class="table-container">
                <table class="table total-order-table">
                    <thead>
                    <tr>
                        <th>Produkt Name</th>
                        <th>Größe</th>
                        <th>Anzahl</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Data will be inserted here -->
                    </tbody>
                </table>
                </div>
                <div class="button-container">
                    <button class="btn btn-error finish-button">Bestellung Fertig</button>
                </div>
            </div>
        </div>

        <div id="finish-order-modal" class="modal modal-sm">
            <a href="#close" class="modal-overlay" aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
                    <div class="modal-title h5">Bestellungen abschließen</div>
                </div>
                <div class="modal-body">
                    <div class="modal-content">
                        <p>Sind Sie sicher, dass Sie die Bestellungen abschließen möchten? <br><br> Dieser Vorgang kann nicht rückgängig gemacht werden.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="modal-cancel" class="btn btn-link" aria-label="close">Abbrechen</a>
                    <button id="modal-confirm" class="btn btn-primary">Bestellungen abschließen</button>
                </div>
        </div>
        </div>

    </section>
</section>
</div>