{% block stylesheets %}
    {% do assets.addCss('theme://css/shop.min.css') %}
{% endblock %}

<head>
    <link rel="stylesheet" href="{{ url('theme://css-compiled/shop.min.css') }}"/>
</head>

<script src="{{ url('theme://js/shop-script.js') }}"></script>

{% set flex = grav.get('flex') %}
{% set directory = flex.directory('products') %}
{% set list = directory.collection() %}
<div class="module-content" data-module-id="shop">
    <div class="container text-container">
                {{ content|raw }}
    </div>

<div class="body">
    <div class="columns">
        <div class="column col-md-12 col-8">
            <div class="container shop-container">
                <h3 class="heading">Produkte</h3>
                <div class="product-list" data-list="{{ list|json_encode() }}">
                    <div class="result"></div>
                </div>
            </div>
        </div>
        <div class="column col-md-12 col-4">
            <div class="cart">
                <div class="cart-header">
                    <h3>Einkaufswagen</h3>
                    <p class="noOfItems">0 Produkte</p>
                </div>
                <hr noshade="true" size="1px"/>
                <div class="cart-items"></div>
                <hr noshade="true" size="1px"/>
                <div class="cart-footer cart-header">
                    <h4 class="cart-h4">Total</h4>
                    <p class="total">0€</p>
                </div>

                <div class="cart-input">
                    <label class="input">
                        <input class="input__field" id="csv-name" type="text" placeholder=" " />
                        <span class="input__label">Vorname und Nachname</span>
                    </label>
                </div>

                <button class="buy-btn">Bestellung abgeben</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="mobile-cart-footer">
    <button class="mobile-cart-button">
        <i class="fa-solid fa-cart-shopping"></i> Warenkorb (<span class="mobile-noOfItems">0 Produkte</span>)
    </button>
</div>